#home-page-container {
  position: relative;
  min-height: 100vh;
}

#home-page-container
.content-container {
  display: grid;
  grid-row-gap: 50px;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 500px;
  padding-right: 140px;
  padding-left: 140px;
}

#home-page-container
.content-container
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#home-page-container
.content-container
.link-content {
  position: relative;
}

#home-page-container
.content-container
.overlay {
  display: grid;
  background: rgba(248, 248, 248, 0);
  transition: background 0.2s;
  position: absolute;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
}

#home-page-container
.content-container
.overlay:hover {
  background: rgba(248, 248, 248, 0.6);
}

#home-page-container
.content-container
.overlay-content {
  display: grid;
  opacity: 0;
  transition: opacity 0.2s;
  background-color: white;
  margin: 100px 275px;
  text-align: center;
}

#home-page-container
.content-container
.overlay:hover > .overlay-content {
  opacity: 1;
}

#home-page-container
.content-container
.overlay
.project-title {
  font-family: 'Cardo', serif;
  font-size: 70px;
  justify-self: center;
  align-self: end;
  margin: 0 0 10px 0;
}

#home-page-container
.content-container
.overlay
.project-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  justify-self: center;
  align-self: start;
  margin: 0;
}