#text-block-full-container {
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  min-width: 100%;
  grid-template-columns: 25% 75%;
  padding: 100px 0;
  grid-row-gap: none;
}

#text-block-full-container
.font-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: bold;
  justify-self: center;
  margin: 0;
}

#text-block-full-container
.font-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125em;
    letter-spacing: 2px;
    line-height: 1.75em;
    width: 75%;
    max-width: 75%;
    justify-self: center;
    margin: 0;
    white-space: pre-line;
}

@media only screen and (max-width: 1200px) {
  #text-block-full-container {
    margin-top: 3em;
    margin-bottom: 3em;
    grid-template-columns: none;
    grid-template-rows: auto auto;
    grid-row-gap: 2em;
    padding: 3em 0;
  }

  #text-block-full-container
  .font-text {
      font-size: 1em;
  }
}