#footer-container {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 400px;
  background-color: #F0F1EE;
  margin: 0 auto;
}

#footer-content-container {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 400px;
  background-color: #F0F1EE;
  max-width: 1200px;
  margin: 0 auto;
}

#footer-container
#description-contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: none;
  grid-column-gap: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  text-align: start;
}

#footer-container
#description-contact-container
.description-text {
  font-family: 'Cardo', serif;
  font-size: 28px;
  display: inline-block;
  align-self: center;
}

#footer-container
#description-contact-container
.description-text
p {
  margin: 0;
}

#footer-container
#description-contact-container
.description-text
#you-likey {
  font-weight: 400;
}

#footer-container
#description-contact-container
.description-text
#hire-me {
  font-weight: 500;
  font-style: italic;
}

#footer-container
#description-contact-container
.contact-text {
  display: inline-block;
  font-size: 56px;
  align-self: center;
  border-bottom: 4px solid black;
}

#footer-container
#social-copyright-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  justify-items: center;
  align-items: center;
}

#footer-container
.copyright {
  color: #707070;
  font-size: 12px;
}

#footer-container
.social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

#footer-container
.social-icon {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  transition: background 0.2s;
}

#footer-container
.social-icon.linkedin {
  background: transparent url('icon-linkedin-2x.png') no-repeat padding-box;
  background-size: contain;
}

#footer-container
.social-icon.linkedin:hover {
  background: transparent url('icon-linkedin-hover-2x.png') no-repeat padding-box;
  background-size: contain;
}

#footer-container
.social-icon.dribbble {
  background: transparent url('icon-dribbble-2x.png') no-repeat padding-box;
  background-size: contain;
}

#footer-container
.social-icon.dribbble:hover {
  background: transparent url('icon-dribbble-hover-2x.png') no-repeat padding-box;
  background-size: contain;
}

#footer-container
.social-icon.behance {
  background: transparent url('icon-behance-2x.png') no-repeat padding-box;
  background-size: contain;
}

#footer-container
.social-icon.behance:hover {
  background: transparent url('icon-behance-hover-2x.png') no-repeat padding-box;
  background-size: contain;
}

@media only screen and (max-width: 1050px) {
  #footer-container
  #description-contact-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    grid-row-gap: 1em;
    position: absolute;
    margin-top: 2em;
    text-align: center;
  }

  #footer-container
  #description-contact-container
  .description-text {
    font-size: 1.5em;
  }

  #footer-container
  #description-contact-container
  .contact-text {
    font-size: 3em;
  }
}
