#text-block-centered-container {
    margin-top: 100px;
    margin-bottom: 100px;
    justify-self: center;
    width: 70%;
    max-width: 70%;
    text-align: center;
}

#text-block-centered-container
.font-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    letter-spacing: 4px;
    margin-bottom: 50px;
    font-weight: bold;
}

#text-block-centered-container
.font-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125em;
    letter-spacing: 2px;
    line-height: 1.75em;
    white-space: pre-line;
}