#header-container {
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;
  margin: 0 auto;
  width: 90%;
}

#header-container
#logo-container {
  align-self: center; 
  justify-self: start;
  width: 231px;
  height: 66px;
}

#header-container
#logo-container
img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

#header-container
#links-container {
  justify-self: end;
  align-self: center;
  width: auto;
}

#header-container
#links-container
.link {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #C0B5B1;
  transition: color 0.2s;
}

#header-container
#links-container
.link:hover {
  color: black;
}

#header-container
#links-container
.link
a {
  text-decoration: none;
}

#header-container
#links-container
.link:first-of-type {
  margin-right: 20px;
}

#header-container
#links-container
.link:nth-of-type(n+2):not(:last-child) {
  margin-left: 20px;
  margin-right: 20px;
}

#header-container
#links-container
.link:last-of-type {
  margin-left: 20px;
}

#header-container
#links-container
.link.active {
  color: black;
}

#header-container
.hamburger {
  position: absolute;
  top: -2em;
  left: 0;
  right: 0;
  background-color: white;
}

#header-container
.hamburger
#links-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: white;
  position: absolute;
  z-index: 1000;
}

#header-container
.hamburger
#links-container
.link {
  margin: 0;
}

#header-container
.hamburger
#the-burger {
  position: absolute;
  top: 10px;
  right: 10px; 
  z-index: 10000000;
}

#header-container
.hamburger
#the-burger:hover {
  cursor: pointer;
}

#header-container
.hamburger
#the-burger
img {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 1250px) {
  #header-container {
    width: 95%;
  }
}

@media only screen and (max-width: 950px) {
  #header-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    margin-top: 2em;
  }

  #header-container
  #logo-container {
    justify-self: center;
  }

  #header-container
  #links-container {
    justify-self: center;
  }
} 