#project-header-container {
  display: grid;
  grid-template-columns: 10% auto 15%;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.2s;
  grid-template-columns: 5% auto 15%
}

#project-header-container
#home {
  justify-self: start;
  align-self: center;
  margin-left: 10px;
}

#project-header-container
#home
img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

#project-header-container
#all-projects {
  justify-self: end;
  align-self: center;
  margin-right: 10px;
}

#project-header-container
.link-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 1800px) {
  #project-header-container {
    grid-template-columns: 5% auto 20%
  }
}

@media only screen and (max-width: 1300px) {
  #project-header-container {
    grid-template-columns: 5% auto 25%
  }
}

@media only screen and (max-width: 1050px) {
  #project-header-container {
    grid-template-columns: 5% auto 30%
  }
}

@media only screen and (max-width: 1050px) {
  #project-header-container {
    grid-template-columns: 5% auto 50%;
    justify-items: end;
  }

  #project-header-container
  .link-container {
    grid-template-columns: 1fr;
  }

  #project-header-container
  .link-container
  .link:nth-of-type(odd) {
    display: none;
  }

  #project-header-container
  .link-container
  .link:nth-of-type(even) {
    margin-right: 15px;
  }
}
